body {
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
nav li {
    list-style: none;
    display: inline-block;
}

nav a {
    text-decoration: none;  
    color: #222;
    padding-left: 5px;
}

.nav-left {
    
}

.nav-right {
    margin: -15px 35px 0 0;

}

.wrapper {
    position: relative;
    top: 16%;
    text-align: center;   
}

.logo {
    display: inline-block;
    padding: 30 0 20 0;
    text-align: center;
}   

.buttons {
    padding: 10px;
    margin: 30px 5px 5px 5px;
    border: none; 
    border-radius: 5px;
    width: 140px;
    background-color: #F5F5F5;
    color: rgb(110, 110, 110);
    font-size: 15px;
   
}

.buttons a {
    text-decoration: none;
    color: rgb(110, 110, 110);
}

input {
    width: 580px;
    height: 45px;
    padding: 0 20 0 20;
    border-radius: 25px;
    border: 1px solid lightgray;
    outline: none;
    font-size: 16px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/716px-Google_mic.svg.png);
    background-size: 2.5%;
    background-repeat: no-repeat;
    background-position: 540px 11px;
}

input:hover {
    box-shadow: 0px 0px 5px 1px #CCC;
}

form {
    padding: 10px;
}